/* Основные стили для сайта */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li {
    list-style-type: none;
}
body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
}
a {
    color: #fff;
    text-decoration: none;
}
.container {
    width: 1440px;
    margin: 0 auto;
}



/* Блок с обо мне */
.header {
    position: relative;
    height: 100vh;
    background-color: #050505;
    color: #fff;
}
.header ul {
    display: flex;
    justify-content: space-around;
}
.header__link:hover {
    text-decoration: underline;
}
.header__wrapper {
    margin-top: 20px
}
.header__inner {
    display: flex;
    position: relative;
}
.header__inner-desc {
    margin-top: 100px;
}
.header__inner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    transition: .5s all;
}
.header__inner-link:hover{
    background-color: #fff;
    color: #000000;
}

.header__inner-wrapper {
    width: 800px;
    height: 600px;
}

.header__inner-circle {
    animation: fadeInOut 3s ease-in-out infinite;;
}

@keyframes fadeInOut {
    from {
        width: 800px;
        height: 600px;
    }
    50% {
        width: 750px;
        height: 550px;
    }
    to {
        width: 800px;
        height: 600px;
    }
}


/*Блок с хобби*/
.hobby {
    height: 600px;
    background-color: #FAFAFA;
}
.hobby__wrapper {
    width: 1000px;
    height: 300px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgb(204 204 204) 0px 0px, rgb(204 204 204) 0.8em 11px 2.5em;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    align-items: center;
    transition: .5s all;
}
.hobby__wrapper:hover {
    background-color: #050505;
    width: 1020px;
    height: 320px;
    color: #fff;
    box-shadow: none;
}
.hobby__hover {
    transition: .5s all;
}
.hobby__wrapper:hover .hobby__hover {
    background-color: #fff;
}

.hobby__wrapper ol {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hobby__wrapper-text {
    display: flex;
    align-items: center;
}
.hobby__wrapper-text img {
    background-color: #000;
    padding: 5px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}


/*experience*/
.exp {
    background-color: #000000;
    color: #fff;
    height: 100vh;
}
.exp__wrapper {
    width: 1000px;
    height: 300px;
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}
.exp__wrapper table {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    color: #000;
}



/* Блок с контактами */
.footer {
    height: 100vh;
    background-color: #CCCCCC;
}
.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__link:hover {
    color: #000;
    text-decoration: underline;
}



/* Компоненты стилей */
.indent {
    padding: 50px 0 150px 0;
}

.size24px {
    font-size: 24px;
}

.size32px {
    font-size: 32px;
}