* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
}

a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 50px 0;
    height: 100vh;
    background-color: #050505;
    color: #fff;
}

.header ul {
    display: flex;
    justify-content: space-around;
}
.header__link {
    font-size: 24px;
}
.header__link:hover {
    text-decoration: underline;
}
.header__wrapper {
    margin-top: 20px
}
.header__inner {
    display: flex;
    position: relative;
}
.header__inner-desc {
    margin-top: 100px;
}
.header__inner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 50px;
    border: 2px solid #fff;
    transition: .5s all;
}
.header__inner-link:hover{
    background-color: #fff;
    color: #000000;
}

/*hobby*/
.hobby {
    padding: 50px 0 150px 0;
    height: 600px;
    background-color: #FAFAFA;
}
.hobby h2 {
    font-size: 32px;
}
.hobby__wrapper {
    width: 1000px;
    height: 300px;
    padding: 40px;
    /* background-color: #CCCCCC; */
    border-radius: 10px;
    box-shadow: rgb(204 204 204) 0px 0px, rgb(204 204 204) 0.8em 11px 2.5em;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    align-items: center;
    transition: .5s all;
}
.hobby__wrapper:hover {
    background-color: #050505;
    width: 1020px;
    height: 320px;
    color: #fff;
    box-shadow: none;
}
.hobby__wrapper ol {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.hobby__wrapper li{
    font-size: 24px;
}

/*experience*/
.exp {
    padding: 50px 0 150px 0;
    background-color: #000000;
    color: #fff;
    height: 100vh;
}

.exp h2 {
    font-size: 32px;
}

.exp__wrapper {
    width: 1000px;
    height: 300px;
    padding: 40px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.exp__wrapper table {
    width: 400px;
    height: 200px;
    border: 2px solid #000;
    color: #000;
}

/*contacts*/
.footer {
    height: 100vh;
    padding: 50px 0;
    background-color: #CCCCCC;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__link {
    font-size: 24px;
}
.footer__link:hover {
    color: #000;
    text-decoration: underline;
}